# Python (Flask Server)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
path/to/venv/

# Data files
*.csv
*.pdf

# Node.js / Expo (React Native App)
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Expo specific
app-example

# generated native folders
/ios
/android
